<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.runner.blog.dao.BlogArticlesDao">

    <select id="getArticleAll" resultType="com.runner.blog.entity.BlogArticles">
        select * from blogarticles limit ${from} , ${count}
    </select>

    <select id="vagueArticle" resultType="com.runner.blog.entity.BlogArticles">
        select * from blogarticles where articleName like '%'#{articleName,jdbcType=VARCHAR}'%'
    </select>

</mapper>