<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.runner.blog.dao.TagDao">
    <!--根据id查询标签-->
    <select id="selectTagId" resultType="com.runner.blog.entity.Tag">
        select * from tag where id = #{id}
    </select>

    <select id="selectAllTag" resultType="com.runner.blog.entity.Tag">
        select * from tag
    </select>

    <select id="vagueTag" resultType="com.runner.blog.entity.Tag">
        select * from tag where tagName like concat('%',#{tagName},'%')
    </select>

</mapper>